# Игнорируем зависимости (они очень тяжелые)
**/node_modules/
**/dist/

# Игнорируем базы данных (чтобы не слить данные клиентов)
**/database.json
**/logs/

# Игнорируем системные файлы
.DS_Store
.env

